### FINA 4380 with Marius Popescu

## Python Language Basics - Part II

### 1. Working with Strings

### String Indexing and Slicing

For Python strings and lists, we can use their indexes to call parts of the sequence. Specifically, we use brackets `[ ]` after the object to call its index. **In Python, indexing starts at 0.**

In [28]:
st = "This is FINA 4380"
st

'This is FINA 4380'

In [29]:
# Output the first element in the string
st[0]

'T'

In [31]:
# Output the fifth element in the string
st[4]

' '

We can also use negative indexing to go backwards.

In [32]:
# Output the last element in the string
st[-1]

'0'

In [33]:
# Output the next to the last element in the string
st[-2]

'8'

You can select sections of a sequence by using slice notation, which can be summarized as `[start:stop]`. While the element at the *start* index is included, the element at the *stop* index is not included.

In [34]:
# Output the sub-string "This"
st[0:4]

'This'

In [35]:
# Output the sub-string "FINA"
st[8:12]

'FINA'

Either the *start* or *stop* index can be omitted, in which case they default to the start of the sequence and the end of the sequence, respectively.

In [36]:
# Output the sub-string "This"
st[:4]

'This'

In [37]:
# Output the sub-string "FINA 4380"
st[8:]

'FINA 4380'

Negative indices slice the sequence relative to the end

In [38]:
# Output the sub-strings "FINA 4380"
st[-9:]

'FINA 4380'

In [39]:
# Output the sub-string "FINA"
st[-9:-5]

'FINA'

We can also use index and slice notation to select elements of a sequence by a specified step size (the default is 1). Specifically, we use two colons in a row and then a number to specify the *step* length.

In [40]:
# Output the full string
st[::1]

'This is FINA 4380'

In [41]:
# Output every other element in the string, starting at index 0
st[::2]

'Ti sFN 30'

In [42]:
# Output every other element in the string, starting at index 1
st[1::2]

'hsi IA48'

In [43]:
# Output the string in reverse
st[::-1]

'0834 ANIF si sihT'

### Built-In Methods

Objects in Python typically have built-in **methods**, which are functions associated with the object, and that can perform actions or commands on the object itself.

Methods can be accessed via the syntax `object_name.method()`

### String Methods

In [44]:
st = "this is FINA 4380"
st

'this is FINA 4380'

#### Use the `capitalize()` method to convert the first character to upper case (capitalize)

In [45]:
st.capitalize()

'This is fina 4380'

#### Use the `upper()` method to convert all characters in a string to upper case

In [46]:
st.upper()

'THIS IS FINA 4380'

#### Use the `lower()` method to convert all characters in a string to lower case

In [47]:
st.lower()

'this is fina 4380'

#### Use the `split()` method to split a string into a list (default split is by space)

In [48]:
lst = st.split()
lst

['this', 'is', 'FINA', '4380']

#### Use the `count()` method to count the instances of a character or group of characters

In [51]:
# Count the number of times that the letter 'i' is in the string
st.count('i')

2

### 2. Working with Lists

### List Indexing and Slicing

In [52]:
ls = [3, 5, 0 , 10, 2, "X", "Y", 3]
ls

[3, 5, 0, 10, 2, 'X', 'Y', 3]

In [53]:
# Output the first element in the list
ls[0]

3

In [54]:
# Output the next to the last element in the list
ls[-2]

'Y'

In [55]:
# Output the first four elements in the list
ls[:4]

[3, 5, 0, 10]

In [56]:
# Output the last four elements in the list
ls[-4:]

[2, 'X', 'Y', 3]

### List Methods

In [7]:
lst = ["AAPL", "GOOGL"]

#### Use the `append()` method to add an additional element to a list. The addition will be permanent (or in place).

In [8]:
lst.append("MSFT")
lst

['AAPL', 'GOOGL', 'MSFT']

#### Use the `pop()` method to remove an element from a list (by default, the last element is removed). The removal will be permanent (or in place).

In [9]:
lst.pop()
lst

['AAPL', 'GOOGL']

#### Use the `sort()` method to sort a list (in ascending order if all elements are numerical, in alphabetical order if all elements are strings). The sorting will be permanent (or in place)

In [10]:
lst1 = [5, 1, 3, 10, 2, 0]

In [11]:
lst1.sort()
lst1

[0, 1, 2, 3, 5, 10]

#### Use the `reverse()` method to reverse the order of the elements in the list. The reversal will be permament (or in place)

In [15]:
lst1 = [5, 1, 3, 10, 2, 0]

In [16]:
lst1.reverse()
lst1

[0, 2, 10, 3, 1, 5]

#### Use the `count()` method to count the number of times an element is found in a list

In [17]:
lst4 = [5, 1, 0, 3, 10, 2, 0]

In [18]:
lst4.count(0)

2

In [2]:
list(range(14,30,2))

[14, 16, 18, 20, 22, 24, 26, 28]