### FINA 4380 with Marius Popescu

## Python Language Basics - Part I

The Python language design is distinguished by its emphasis on readability, simplicity and explicitness.

* An important characteristic of the Python language is the consistency of its *object model*. Every number, string, data structure, function, class, module, and so on, are referred to as *Python objects*. Each object has an associated *type* and internal data.

* Any text preceded by the hash mark (pound sign) `#` is ignored by the Python interpreter and is referred to as a **comment**, and is to provide additional explanation on the source code. Sometimes, `#` is used to temporarily remove certain lines of code that might need corrections.

### A. Python Data Types

### 1. Numbers

There are two types of numbers in Python that we will focus on, as they are the most commonly used in finance applications: **integers** and **floating point numbers (floats)**.

* **Integers** are whole numbers, positive or negative: `5`; `-5` for example.

* **Floats** are numbers with decimal points: `5.0`; `-5.3` for example.

#### Basic Math

In [6]:
# Addition
3.1 + 5.0

8.1

In [7]:
# Subtraction
7.1 - 2.3

4.8

In [5]:
# Multiplication
3.1 * 2.5

7.75

In [11]:
# Exponentiation
3 ** 2
#9 ** 0.5

9

In [8]:
# Division
13 / 4

3.25

In [61]:
# FLOOR DIVISION
# The // operator (two forward slashes) returns the quotient after division, 
# or truncates the decimal without rounding.
13 // 2

6

In [62]:
# REMAINDER
# The % operator (modulo operator) returns the remainder after division.
13 % 2

1

#### Variable Assignment

Variables provide names for objects (values in many cases) that we plan on using repeatedly or at a later time in the program. 

A variable assignment is as follows: **variable name = object**, where the object can be any data type. Variable names can not start with a number, or contain spaces or special symbols.

In [13]:
x = 100.50

We can retrieve the value stored in a variable by calling the variable name.

In [14]:
x

100.5

### 2. Booleans
Booleans or bools are binary variable types. The two boolean values in Python are **True** and **False**.

When evaluating one condition, there are only two possible scenarios:

* **True** or
* **False**

In [17]:
# Use == (double equality sign) to check for the equality of two expressions
10 - 2 == 3 + 5

True

In [19]:
# Use != to check for the non-equality of two expressions
10 - 2 != 3 + 5

False

When evaluating two conditions, one of the following six scenarios will occur:

* **True and True** (same as **True & True**) is **True**
* **False and False** (same as **False & False**) is **False**
* **True and False** (same as **True & False**) is **False**
* **True or True** (same as **True | True**) is **True**
* **False or False** (same as **False | False**) is **False**
* **True or False** (same as **True | False**) is **True**

In [20]:
# True and True
(2 < 3) and (4 < 5)

True

In [22]:
# False and False
(2 > 3) and (4 > 5)

False

In [21]:
# True and False
(2 < 3) and (4 > 5)

False

In [25]:
# True or True
(2 < 3) or (4 < 5)

True

In [26]:
# False or False
(2 > 3) or (4 > 5)

False

In [27]:
# True or False
(2 < 3) or (4 > 5)

True

### 3. Strings

Strings are used to record text information. More generally, strings are  fixed-length, immutable sequences of characters. To create a string, you can use either **single quotes ('')** or **double quotes("")** to surround a sequence of characters.

In [31]:
'Hello, World!'

'Hello, World!'

In [25]:
st = "Hello, World!"
st

'Hello, World!'

### 4. Tuples
Tuples are fixed-length, immutable sequences of Python objects. You can define them using parentheses `()`.

A tuple can hold multiple data types.

In [24]:
tup = (5, "ten", True, [1,2,3], 20.578)
tup

(5, 'ten', True, [1, 2, 3], 20.578)

### 5. Lists
In contrast to strings and tuples, lists are variable-length and their contents can be modified in-place (mutable). You can define them using square brackets `[]`.

In [30]:
lst1 = [5, 50, 15, 20]
lst2 = ["GOOGL", "AAPL", "MSFT", "AMZN"]
lst2

['GOOGL', 'AAPL', 'MSFT', 'AMZN']

A list can hold multiple data types, including other lists. We refer to that list as a **nested list**.

In [31]:
lst3 = [lst1, lst2]
lst3

[[5, 50, 15, 20], ['GOOGL', 'AAPL', 'MSFT', 'AMZN']]

### 6. Dictionaries
Dictionaries are collections of *key-value* pairs, where *key* and *value* are Python objects. Similar to lists, dictionaries have variable-length. You can define them using curly braces `{}` and colons to separate keys and values.

In [32]:
d1 = {"GOOGL":1100, "AAPL":120, "MSFT": 110, "AMZN":1700}
d1

{'GOOGL': 1100, 'AAPL': 120, 'MSFT': 110, 'AMZN': 1700}

In [33]:
d2 = {"stock1":"AAPL", "stock2": "GOOGL", "stock3": "AMZN"}
d2

{'stock1': 'AAPL', 'stock2': 'GOOGL', 'stock3': 'AMZN'}

### B. Built-in Python functions

There are multiple Python built-in functions that are always available.

To access more information about a function (or its' **Docstring**), press the `Shift` and `Tab` keys simultaneously, while the prompter is in between the two parentheses.

#### We can use the built-in Python `print()` function to print one or multiple objects

In [48]:
print(st)
print(tup)
print(lst3)
print(d2)

Hello, World!
(5, 'ten', True, [1, 2, 3], 20.578)
[[5, 50, 15, 20], ['GOOGL', 'AAPL', 'MSFT', 'AMZN']]
{'stock1': 'AAPL', 'stock2': 'GOOGL', 'stock3': 'AMZN'}

#### We can use the Python built-in `len()` function to output the length of an object.

In [50]:
st

'Hello, World!'

In [51]:
len(st)

13

In [53]:
tup

(5, 'ten', True, [1, 2, 3], 20.578)

In [54]:
len(tup)

5

#### We can use the Python built-in `list()` function to convert an iterable (tuple, string etc.) to a list.

In [56]:
list(tup)

[5, 'ten', True, [1, 2, 3], 20.578]

In [58]:
var_str = "I am a string variable"
list(var_str)

['I',
 ' ',
 'a',
 'm',
 ' ',
 'a',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 ' ',
 'v',
 'a',
 'r',
 'i',
 'a',
 'b',
 'l',
 'e']

#### We can use the Python built-in `range()` function to return an iterator that yields a sequence of evenly spaced integers. Both a start, end and step (which may be negative) can be given. The function returns integers up to but not including the endpoint. If a step is provided, then the starting point must also be provided. In order to see the elements of the iterator, we can use the Python built-in **list()** function to convert the output to a list.

In [13]:
range(5)

range(0, 5)

In [60]:
list(range(1,10,2))

[1, 3, 5, 7, 9]