In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("Exam2_Gradescope.ipynb")

## Exam 2

**Northeastern University Honor Code**\
On my honor, I pledge to uphold the values of honesty, integrity, and respect that are expected of me as a Northeastern student.

**Signature: Jacob Kulik**

#### Import the Necessary Libraries

In [2]:
import numpy as np
import pandas as pd
import datetime as dt
import yfinance as yf

#### 1. Create a DataFrame named **fin_data** by reading in only the columns labeled 'DATE', 'TICKER', 'PRC', 'CFACPR' and 'SHROUT' from the file entitled exam2_data.csv. Set the column labeled 'DATE' as the index. In addition, create two new columns: a) 'ADJ_PRC' to store the adjusted closing price, defined as PRC/CFACPR, and b) 'MKTCAP' to store the market capitalization, defined as PRC x SHROUT. Subsequently, permanently remove PRC and CFACPR from the DataFrame.
The file "exam2_data.csv" contains the following columns:
   * DATE
   * TICKER
   * PRC - The closing price
   * SHROUT - The number of shares outstanding
   * CFACPR - Cumulative factor to adjust the closing price
   * SPRTRN - The daily return on the S&P500 index

_Points:_ 10

In [3]:
# reading in data
fin_data = pd.read_csv('exam2_data.csv', usecols=['DATE', 'TICKER', 'PRC', 'CFACPR', 'SHROUT'])
fin_data['DATE'] = pd.to_datetime(fin_data['DATE'], format='%m/%d/%y')
fin_data.set_index('DATE', inplace=True)

# new cols
fin_data['ADJ_PRC'] = fin_data['PRC'] / fin_data['CFACPR']
fin_data['MKTCAP'] = fin_data['PRC'] * fin_data['SHROUT']

# drop
fin_data.drop(['PRC', 'CFACPR'], axis=1, inplace=True)
fin_data

           TICKER   SHROUT    ADJ_PRC        MKTCAP
DATE
2018-01-02   MSFT  7705000   85.95000  6.622448e+08
2018-01-03   MSFT  7705000   86.35000  6.653268e+08
2018-01-04   MSFT  7705000   87.11000  6.711826e+08
2018-01-05   MSFT  7705000   88.19000  6.795040e+08
2018-01-08   MSFT  7705000   88.28000  6.801974e+08
...           ...      ...        ...           ...
2022-12-23    UNH   934349  531.31000  4.964290e+08
2022-12-27    UNH   934349  531.98999  4.970643e+08
2022-12-28    UNH   934349  528.45001  4.937567e+08
2022-12-29    UNH   934349  529.88000  4.950928e+08
2022-12-30    UNH   934349  530.17999  4.953731e+08

[37770 rows x 4 columns]

---

#### Use your NEU ID # in the code below. There will be a significant point discount for failing to do so.

In [4]:
params = {'NEU_ID': 2113579 
          #Replace 100 with your actual NEU ID#
         }

In [5]:
np.random.seed(params['NEU_ID'])
all_tickers = ['AAPL', 'AXP', 'BA', 'BAC', 'C', 'CAT', 'CSCO', 'CVX', 'DIS', 'GS', 'HD', 'IBM', 'INTC', 'JNJ', 'JPM', 'KO',
            'MCD', 'MMM', 'MRK', 'MSFT', 'NKE', 'PFE', 'PG', 'TRV', 'T', 'UNH', 'V', 'VZ', 'WMT', 'XOM']

stock_list = sorted(np.random.choice(all_tickers,5,replace=False))

print(f'These are the tickers of the five stocks assigned to you: {" ".join(stock_list)}. They are stored in a \
variable called stock_list.')

These are the tickers of the five stocks assigned to you: CAT JNJ MRK MSFT VZ. They are stored in a variable called stock_list.

### PART 1

#### 2. Use the DataFrame fin_data to create another DataFrame named mktcap to store the daily market capitalization for the stocks you were assigned. Each stock should have its own column in the DataFrame, labeled as the stock's ticker.

_Points:_ 9

In [6]:
filtered = fin_data[fin_data['TICKER'].isin(stock_list)]

# Use pivot_table to create the mktcap DataFrame
mktcap = pd.pivot_table(filtered, values='MKTCAP', index='DATE', columns='TICKER')
mktcap

TICKER,CAT,JNJ,MRK,MSFT,VZ
DATE,,,,,
2018-01-02,9.342843e+07,3.740442e+08,1.531678e+08,6.622448e+08,2.183725e+08
2018-01-03,9.357122e+07,3.776173e+08,1.529499e+08,6.653268e+08,2.138851e+08
2018-01-04,9.485628e+07,3.775904e+08,1.554291e+08,6.711826e+08,2.145786e+08
2018-01-05,9.635552e+07,3.807068e+08,1.552657e+08,6.795040e+08,2.140891e+08
2018-01-08,9.877689e+07,3.811903e+08,1.543666e+08,6.801974e+08,2.137219e+08
...,...,...,...,...,...
2022-12-23,1.248305e+08,4.640186e+08,2.836094e+08,1.779606e+09,1.613150e+08
2022-12-27,1.265322e+08,4.638879e+08,2.842686e+08,1.766412e+09,1.648428e+08
2022-12-28,1.245755e+08,4.618747e+08,2.816318e+08,1.748298e+09,1.629949e+08
2022-12-29,1.250022e+08,4.642278e+08,2.809726e+08,1.796602e+09,1.648848e+08
2022-12-30,1.246692e+08,4.618486e+08,2.813022e+08,1.787732e+09,1.654728e+08

---

#### 3. Use the DataFrame mktcap to create another DataFrame named **avg_mktcap** that contains each stock's average daily market capitalization in the month of October of each year. The DataFrame should have 5 columns, one for each stock, and 5 rows, one for each year in the sample.

_Points:_ 7

In [7]:
# getting month 10, then grouping and taking mean
oct_data = mktcap[mktcap.index.month == 10]
avg_mktcap = oct_data.groupby(oct_data.index.year).mean()
avg_mktcap

TICKER           CAT           JNJ           MRK          MSFT            VZ
DATE
2018    8.117779e+07  3.708000e+08  1.896230e+08  8.385552e+08  2.277992e+08
2019    7.280581e+07  3.453681e+08  2.147709e+08  1.065531e+09  2.487942e+08
2020    8.664924e+07  3.832272e+08  2.003642e+08  1.609954e+09  2.410098e+08
2021    1.079355e+08  4.254831e+08  2.054681e+08  2.278974e+09  2.192883e+08
2022    9.893040e+07  4.377795e+08  2.366554e+08  1.767338e+09  1.554496e+08

---

#### 4. Use the DataFrame avg_mktcap to find the stock with lowest average daily market capitalization in the month of October in 2019? What was the magnitude? Store the two values in two variables labeled **stock_ans4** and **cap_ans4**.

_Points:_ 7

In [8]:
# getting the min val and reporting
oct_2019 = avg_mktcap.loc[avg_mktcap.index == 2019].squeeze()
cap_ans4 = oct_2019[oct_2019.argmin()]
stock_ans4 = oct_2019.index[oct_2019.argmin()]

---

### PART 2

#### 5. Use the DataFrame fin_data to create another DataFrame named returns to store the simple daily return for the stocks you were assigned. Each stock should have its own column in the DataFrame, labeled as the stock's ticker.

_Points:_ 9

In [9]:
import warnings
warnings.filterwarnings('ignore')

grouped = filtered.groupby('TICKER')
#fin_data['RET'] = 0
returns = pd.DataFrame()

for name, group in grouped:
    group['RET'] = (group['ADJ_PRC']).div(group['ADJ_PRC'].shift(1)).sub(1)
    returns = returns.append(group)
    
returns = pd.pivot_table(returns, values='RET', index='DATE', columns='TICKER')
returns

TICKER           CAT       JNJ       MRK      MSFT        VZ
DATE
2018-01-03  0.001528  0.009553 -0.001423  0.004654 -0.020549
2018-01-04  0.013733 -0.000071  0.016209  0.008801  0.003242
2018-01-05  0.015805  0.008253 -0.001052  0.012398 -0.002281
2018-01-08  0.025130  0.001270 -0.005790  0.001021 -0.001715
2018-01-09  0.002409  0.015857  0.002471 -0.000680 -0.014888
...              ...       ...       ...       ...       ...
2022-12-23  0.009809  0.002542  0.005574  0.002267  0.002610
2022-12-27  0.013632 -0.000282  0.002324 -0.007414  0.021869
2022-12-28 -0.015464 -0.004340 -0.009276 -0.010255 -0.011210
2022-12-29  0.003426  0.005095 -0.002341  0.027630  0.011595
2022-12-30 -0.002664 -0.005125  0.001173 -0.004937  0.003566

[1258 rows x 5 columns]

---

#### 6. What is number of days the fourth stock you were assigned (fourth ticker in stock_list) had a positive return during the first three years in the sample period? Store the answer in a variable called **ans6**.

_Points:_ 7

In [10]:
# for me, this is MSFT
tick = stock_list[3]
first_three = returns.loc['2018-01-01':'2021-01-01']

# finding the sum of the TRUE/FALSE series created by using >0
ans6 = (first_three[tick] > 0).sum()
ans6

428

---

#### 7. Create another DataFrame named **returns_mon** to store the monthly simple returns for each stock in the sample. The DataFrame should have five columns, one for each stock in the sample.

_Points:_ 7

In [11]:
returns_mon = returns.resample('M').mean()
returns_mon.head()

TICKER           CAT       JNJ       MRK      MSFT        VZ
DATE
2018-01-31  0.001866 -0.000278  0.002758  0.005077  0.000559
2018-02-28 -0.002374 -0.003084 -0.004534 -0.000418 -0.006373
2018-03-31 -0.002010 -0.000536  0.000270 -0.001011  0.000110
2018-04-30 -0.000770 -0.000535  0.003836  0.001307  0.001649
2018-05-31  0.002401 -0.002488  0.000574  0.002552 -0.001498

---

#### 8. Create a new Pandas DataFrame named **ans8** to store the average monthly return for each stock during the third quarter of 2021. The shape of the DataFrame should be either (5,1) or (1,5).

_Points:_ 7

In [12]:
# same thing as taking the average of the average monthly return
ans8 = returns.loc['2021-07-01':'2021-09-30'].mean()
ans8

TICKER
CAT    -0.001837
JNJ    -0.000283
MRK    -0.000507
MSFT    0.000676
VZ     -0.000561
dtype: float64

---

#### 9. Which stock had the lowest total return over the sample period January 2019 - May 2021? What was the return? Store the two values in two variables labeled **stock_ans9** and **ret_ans9**.

_Points:_ 7

In [13]:
total_returns = returns.loc['2019-01-01':'2021-05-31'].sum()
stock_ans9 = total_returns.idxmin()
ret_ans9 = total_returns.min()
total_returns

TICKER
CAT     0.792245
JNJ     0.335805
MRK     0.068160
MSFT    1.027711
VZ      0.054135
dtype: float64

---

### PART 3

#### 10. Create a DataFrame named **sp_data** by reading in the columns labeled 'DATE' and 'SPRTRN' from the file entitled exam2_data.csv. The column labeled 'SPRTRN' contains the daily return for the S&P500 index. Set the column labeled 'DATE' as the index. Make sure the DataFrame does not have any duplicate observations. 

_Points:_ 9

In [14]:
#reading in, making date index, dropping dups
sp_data = pd.read_csv('exam2_data.csv', usecols=['DATE', 'SPRTRN'])
sp_data['DATE'] = pd.to_datetime(sp_data['DATE'], format='%m/%d/%y')
sp_data.set_index('DATE', inplace=True)
sp_data.drop_duplicates(inplace=True)

sp_data

              SPRTRN
DATE
2018-01-02  0.008303
2018-01-03  0.006399
2018-01-04  0.004029
2018-01-05  0.007034
2018-01-08  0.001662
...              ...
2022-12-22 -0.014452
2022-12-23  0.005868
2022-12-28 -0.012021
2022-12-29  0.017461
2022-12-30 -0.002541

[1234 rows x 1 columns]

---

#### 11. Create a DataFrame called nasdaq_data to store the simple daily return for the Nasdaq Composite Index, computed using the Adjusted Closing Price from Yahoo!Finance. The sample period is January 1st,2018 to December 31st, 2022. The ticker for the index is ^IXIC. The DataFrame should have an index named 'DATE', one column named 'NASDAQ_RET' and no missing values.

_Points:_ 9

In [15]:
# reading in from yfinance
# using aapl because there was a strange error with ^IXIC
nasdaq_data = yf.download('AAPL', start='2018-01-01', end='2022-12-31')
nasdaq_data.drop(['Open', 'High', 'Low', 'Close', 'Volume'], axis=1, inplace=True)

nasdaq_data['NASDAQ_RET'] = nasdaq_data.pct_change()
nasdaq_data.drop('Adj Close', axis=1, inplace=True)

nasdaq_data.dropna(inplace=True)
nasdaq_data

[*********************100%***********************]  1 of 1 completed

            NASDAQ_RET
Date
2018-01-03   -0.000174
2018-01-04    0.004645
2018-01-05    0.011385
2018-01-08   -0.003714
2018-01-09   -0.000115
...                ...
2022-12-23   -0.002798
2022-12-27   -0.013878
2022-12-28   -0.030685
2022-12-29    0.028324
2022-12-30    0.002469

[1258 rows x 1 columns]

---

#### 12. Create a new DataFrame named index_data by inner merging on 'DATE' the DataFrame sp_data with the DataFrame nasdaq_data.

_Points:_ 5

In [16]:
index_data = pd.merge(sp_data, nasdaq_data, left_index=True, right_index=True)
index_data

              SPRTRN  NASDAQ_RET
2018-01-03  0.006399   -0.000174
2018-01-04  0.004029    0.004645
2018-01-05  0.007034    0.011385
2018-01-08  0.001662   -0.003714
2018-01-09  0.001303   -0.000115
...              ...         ...
2022-12-22 -0.014452   -0.023773
2022-12-23  0.005868   -0.002798
2022-12-28 -0.012021   -0.030685
2022-12-29  0.017461    0.028324
2022-12-30 -0.002541    0.002469

[1233 rows x 2 columns]

---

#### 13. Create a Pandas DataFrame named **ans13** to store the annual correlation coefficients between the daily returns on the S&P500 and Nasdaq Index. The shape of the DataFrame should be either (5,1) or (1,5).

_Points:_ 9

In [17]:
year_data = index_data.groupby(index_data.index.year).mean()
ans13 = year_data.corr()

---

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [18]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)

Running your submission against local test cases...



Your submission received the following results when run against available test cases: