### FINA 4380 with Marius Popescu

### Internet Data Sources

In [1]:
import numpy as np
import pandas as pd

The Python standard library includes data types for date and time data. The **datetime** module, and the **datetime.datetime** type are widely used.

In [2]:
import datetime as dt

In [3]:
# Create a datetime object using the current date and time
time = dt.datetime.now()
time

datetime.datetime(2023, 2, 27, 9, 38, 5, 212865)

In [4]:
# Create a datetime object using January 1st
jan1 = dt.datetime(2023,1,1)
jan1

datetime.datetime(2023, 1, 1, 0, 0)

### 1. Yahoo!Finance

The **yfinance** module can be used to download Yahoo!Finance data into a Pandas DataFrame. Additional details can be found using the links below.

https://pypi.org/project/yfinance/

https://aroussi.com/post/python-yahoo-finance

In [5]:
import yfinance as yf

In [15]:
start = dt.datetime(2022, 1, 1)
end = dt.datetime.now()
apple = yf.download('AAPL', start, end)

[*********************100%***********************]  1 of 1 completed

In [21]:
apple.head(1)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,177.830002,182.880005,177.710007,182.009995,180.683853,104487900

In [17]:
apple.tail(1)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-02-27,147.110001,148.380005,147.699997,147.970001,147.970001,4194425

In [19]:
# Downloading Pricing Data for multiple tickers
ticker_list = ['AAPL','MSFT','TSLA']
prices = yf.download(ticker_list,start,end)['Adj Close']

[*********************100%***********************]  2 of 2 completed

2 Failed downloads:
- TSLA: No data found for this date range, symbol may be delisted
- MSFT: No data found for this date range, symbol may be delisted

In [10]:
prices.head()

                  AAPL  MSFT  TSLA
Date
2023-01-03  124.879326   NaN   NaN
2023-01-04  126.167366   NaN   NaN
2023-01-05  124.829399   NaN   NaN
2023-01-06  129.422394   NaN   NaN
2023-01-09  129.951584   NaN   NaN

In [11]:
yf.download(['AAPL','MSFT','TSLA'],start,end)['Adj Close'].columns

[*********************100%***********************]  3 of 3 completed

2 Failed downloads:
- MSFT: No data found for this date range, symbol may be delisted
- TSLA: No data found for this date range, symbol may be delisted

Index(['AAPL', 'MSFT', 'TSLA'], dtype='object')

We can also use the **yf.Ticker** module for additional information about the stock.

In [12]:
apple=yf.Ticker('AAPL')

In [13]:
apple.dividends['2022']

Date
2022-02-04 00:00:00-05:00    0.22
2022-05-06 00:00:00-04:00    0.23
2022-08-05 00:00:00-04:00    0.23
2022-11-04 00:00:00-04:00    0.23
Name: Dividends, dtype: float64

In [14]:
apple.get_shares_full()[-5:]

AttributeError: 'Ticker' object has no attribute 'get_shares_full'

In [22]:
apple.earnings_dates

AttributeError: 'DataFrame' object has no attribute 'earnings_dates'

### 2. Kenneth French's Data Library

The **pandas-datareader** module can be used to download data from Ken French's website into a Pandas DataFrame. Additional details can be found using the links below.

https://pandas-datareader.readthedocs.io/en/latest/index.html

http://mba.tuck.dartmouth.edu/pages/faculty/ken.french/data_library.html

In [23]:
import pandas_datareader.data as web

In [24]:
start = dt.datetime(1900, 1, 1)
end = dt.datetime.now()

In [25]:
# Daily Factor Returns
three_factors_day = web.DataReader('F-F_Research_Data_Factors_daily','famafrench', start, end)[0]
#mom_factor_day = web.DataReader('F-F_Momentum_Factor_daily','famafrench', start, end)[0]

In [26]:
three_factors_day.tail(3)

            Mkt-RF   SMB   HML     RF
Date
2022-12-28   -1.23 -0.25 -0.29  0.016
2022-12-29    1.87  1.27 -1.07  0.016
2022-12-30   -0.22  0.11 -0.03  0.016

In [27]:
# Monthly Factor Returns
three_factors_mon = web.DataReader('F-F_Research_Data_Factors','famafrench', start, end)[0]
#mom_factor_mon = web.DataReader('F-F_Momentum_Factor','famafrench', start, end)[0]

In [28]:
three_factors_mon.tail(3)

         Mkt-RF   SMB   HML    RF
Date
2022-10    7.83  0.10  8.05  0.23
2022-11    4.60 -3.40  1.39  0.29
2022-12   -6.41 -0.64  1.36  0.33

In [29]:
#three_factors_mon.index

##### Converting Period Index to Datetime Index

In [30]:
three_factors_mon.index = three_factors_mon.index.to_timestamp(how='end').normalize()

In [31]:
three_factors_mon.tail(3)

            Mkt-RF   SMB   HML    RF
Date
2022-10-31    7.83  0.10  8.05  0.23
2022-11-30    4.60 -3.40  1.39  0.29
2022-12-31   -6.41 -0.64  1.36  0.33