### FINA 4380 with Marius Popescu

### Python Language Basics - Exercises Set 1

#### 1. Assign the string "I'm working on the first exercise set" to a variable called st, and use it for the following set of exercises.

In [1]:
st = "I'm working on the first exercise set."

#### 1.1 What is the length of the above string

In [2]:
len(st)

38

#### 1.2 Return the sixth element in the string

In [3]:
st[5]

'o'

#### 1.3 Return the last element in the string

In [4]:
st[-1]

'.'

#### 1.4 Return the sub-string "first"

In [5]:
st[19:24]

'first'

#### 1.5 Return the sub-string "first exercise set."

In [6]:
st[19:]

'first exercise set.'

#### 1.6 Return the sub-string "I'm working"

In [7]:
st[:11]

"I'm working"

#### 1.7 Return a string with every other element in the string, starting with the first character.

In [8]:
st[::2]

'Imwrigo h is xriest'

#### 1.8 Return a string with every other element in the string, starting with the third character.

In [9]:
st[2::2]

'mwrigo h is xriest'

#### 1.9 Split the string into a list, using letter "e" as separator

In [10]:
st.split("e")

["I'm working on th", ' first ', 'x', 'rcis', ' s', 't.']

#### 1.10 Split the string into a list such that one of the elements is the string '.' Print the resulting list.

In [11]:
st.split('t')

["I'm working on ", 'he firs', ' exercise se', '.']

#### 2. Assign the list below to a variable called lst, and use it for the following set of exercises.

In [12]:
lst = [1, 2, "MCD", "WMT", ["FB", "AMZN",["AAPL"]]]
lst

[1, 2, 'MCD', 'WMT', ['FB', 'AMZN', ['AAPL']]]

#### 2.1 Return the last element in the list

In [13]:
lst[-1]

['FB', 'AMZN', ['AAPL']]

#### 2.2 Return the last two elements in the list

In [14]:
lst[-2:]

['WMT', ['FB', 'AMZN', ['AAPL']]]

#### 2.3 Remove the ticker for McDonalds from the list

In [15]:
lst.pop(2)

'MCD'

#### 2.4 Print out the ticker for Facebook from the list

In [16]:
lst[-1][0]

'FB'

#### 2.5 Print out the ticker for Apple from the list

In [17]:
lst[-1][-1][0]

'AAPL'

#### 3. Sort the following list of stock returns in reverse order and output the result

In [18]:
new_lst = [0.038, 0.055, -0.024, 0.02]

In [19]:
new_lst.sort(reverse = True)
new_lst

[0.055, 0.038, 0.02, -0.024]

#### 4. Remove the negative element from the below-defined list, then sort it in descending order and print it out.

In [20]:
lst = [0.12, 0.25, 0.35, -0.10, 0.50, 0.70]

In [21]:
lst.pop(3)
lst.sort(reverse = True)
lst

[0.7, 0.5, 0.35, 0.25, 0.12]