### FINA 4380 with Marius Popescu

### Stock Returns - Exercise Set Solutions

#### Import the Necessary Libraries

In [7]:
import numpy as np
import pandas as pd
import datetime as dt
import yfinance as yf

#### 1. Create a DataFrame called prices to store the Adjusted Closing Price from Yahoo!Finance for the following three companies: Goldman Sachs, Coca Cola and Exxon Mobil. Their tickers are found in the list below. The sample period is December 31st, 2015 to December 31st, 2022. Each stock's price should be stored in a column labeled 'ticker', where ticker represents that stock's trading ticker (For example, Goldman Sachs' price should be stored in a column labeled 'GS').

In [10]:
ticker_list= ['GS','KO', 'XOM']

In [11]:
start = dt.datetime(2016, 1, 1)
end = dt.datetime(2022,12,31)
prices = yf.download(ticker_list, start-pd.offsets.BDay(1), end)['Adj Close']
#prices.columns=[i+'_PRC' for i in prices.columns]
prices.head()

[*********************100%***********************]  3 of 3 completed

                    GS         KO        XOM
Date
2015-12-31  158.374435  34.335915  55.341808
2016-01-04  155.659119  33.888336  54.993923
2016-01-05  152.978958  34.008221  55.462521
2016-01-06  149.244339  33.824394  55.001026
2016-01-07  144.657379  33.264923  54.120678

#### 2. Create a new DataFrame returns to store the daily simple returns for each of the three stocks. Each stock's return should be stored in a column labeled 'ticker', where ticker represents that stock's trading ticker(For example, Goldman Sachs's return should be stored in a column labeled 'GS').

In [13]:
returns = prices.pct_change().dropna()
#returns.columns=[i+'_RET' for i in returns.columns]
returns.head()

                  GS        KO       XOM
Date
2016-01-04 -0.017145 -0.013035 -0.006286
2016-01-05 -0.017218  0.003538  0.008521
2016-01-06 -0.024413 -0.005405 -0.008321
2016-01-07 -0.030735 -0.016540 -0.016006
2016-01-08 -0.004131 -0.002643 -0.020202

#### 3. Compute the monthly simple returns and store them in a DataFrame named returns_mon

In [14]:
#Version 1
returns_mon = returns.resample(rule = 'M').apply(lambda x: x.add(1).prod().sub(1))
returns_mon.head()

                  GS        KO       XOM
Date
2016-01-31 -0.103590 -0.000931 -0.001283
2016-02-29 -0.070440  0.004893  0.038888
2016-03-31  0.049823  0.083973  0.042920
2016-04-30  0.045420 -0.034275  0.057543
2016-05-31 -0.024229 -0.004464  0.015477

In [15]:
#Version 2
returns_mon2 = returns.groupby([returns.index.year, returns.index.month]).apply(lambda x: x.add(1).prod().sub(1))
returns_mon2.head()

                 GS        KO       XOM
Date Date
2016 1    -0.103590 -0.000931 -0.001283
     2    -0.070440  0.004893  0.038888
     3     0.049823  0.083973  0.042920
     4     0.045420 -0.034275  0.057543
     5    -0.024229 -0.004464  0.015477

#### 4. Compute the quarterly average monthly returns for all three stocks

In [16]:
#Version 1
returns_mon.resample(rule = 'Q').mean().head(5)

                  GS        KO       XOM
Date
2016-03-31 -0.041402  0.029312  0.026842
2016-06-30 -0.015719 -0.004859  0.042014
2016-09-30  0.030585 -0.019895 -0.020496
2016-12-31  0.143760 -0.003635  0.015193
2017-03-31 -0.010564  0.010801 -0.027953

In [17]:
#Version 2
returns_mon.groupby([returns_mon.index.year, returns_mon.index.quarter]).mean().head(5)

                 GS        KO       XOM
Date Date
2016 1    -0.041402  0.029312  0.026842
     2    -0.015719 -0.004859  0.042014
     3     0.030585 -0.019895 -0.020496
     4     0.143760 -0.003635  0.015193
2017 1    -0.010564  0.010801 -0.027953

#### 5. Which stock had the highest 5-year cumulative (total) simple return, and what was the return?

In [18]:
returns_mon.add(1).prod().sub(1).nlargest(1)

GS    1.168153
dtype: float64

#### 6. Create a new DataFrame named log_returns to store the daily log returns for each of the three stocks. Each stock's log return should be stored in a column labeled 'ticker', where ticker represents that stock's trading ticker.(For example, Goldman Sachs's log return should be stored in a column labeled 'GS').

In [21]:
log_returns = np.log(returns.add(1))
log_returns.head()

                  GS        KO       XOM
Date
2016-01-04 -0.017294 -0.013121 -0.006306
2016-01-05 -0.017368  0.003531  0.008485
2016-01-06 -0.024716 -0.005420 -0.008356
2016-01-07 -0.031217 -0.016679 -0.016136
2016-01-08 -0.004139 -0.002647 -0.020409

#### 7. Compute the annual log returns for all three stocks and store them in a DataFrame named returns_logann

In [23]:
returns_logann = log_returns.resample(rule = 'A').sum()
returns_logann.head()

                  GS        KO       XOM
Date
2016-12-31  0.299535 -0.003577  0.181339
2017-12-31  0.074496  0.134374 -0.038813
2018-12-31 -0.408348  0.065539 -0.163617
2019-12-31  0.339888  0.187304  0.069833
2020-12-31  0.160874  0.024392 -0.449590

#### 8. Which stock had the lowest 5-year cumulative (total) log return, and what was the return?

In [24]:
returns_logann.sum().nsmallest(1)

KO    0.616579
dtype: float64